.showError{
    color:red;
    font-weight: 700;
}

#root .main-cont{
    width:100vw;
    height:100vh;
    // background-color:rgb(225, 225, 245) ;
    // background-image: url("../img/background.jpg");
    // background-repeat: no-repeat; 
    // background-position: center;
    // background-size: cover;
}

#root .signin-body label{
    // font-size:1.4rem;
}


// Main component

#root .main-cont{
    width:100vw;
    // height:100vh;
    background:linear-gradient(-45deg,  #bd0db4, #0d4363, rgb(214, 40, 58), rgba(226, 135, 119, 0.7));
    background-size: 300% 100%;
    background-position:0% 0%;
    overflow-x: hidden;
    // overflow-y: auto;
    // background-size: 100% 100%;
    position: relative;
    transition: 0.7s all ease-in-out;
    // animation: enlarge 0.8s ease-in-out;
    // background-position:30% 30%;
    // effect
}

#root .main-cont-enlarged{
    background-position:100% 100%;
}


@keyframes enlarge{
    0%{
        clip-path: circle(10% at 0% 0%);
        background-position:100% 100%;

    }
    100%{
        clip-path: circle(100%);
        // background-position:0% 30%;
    }
}

@keyframes backgroundEffect{
    0%{
        background-position:0 0%;
    }

    50%{
        background-position:100% 100%;

    }
    100%{
        background-position:0 0%;

    }
}
