.showError {
    color: red;
    font-weight: 700;
}

#root .main-cont {
    width: 100vw;
    height: 100vh;
    // background-color:rgb(225, 225, 245) ;
    // background-image: url("../img/background.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
}

#root .signin-body label {
    // font-size:1.4rem;
}

// Main component

#root .main-cont {
    .logo-cont {
        width: 5vw;
        height: 5vw;
        margin-top: 1.5vw;
        margin-left: 3vw;
        position: relative;

        font-size: 2.5vw;
        color: white;
        font-weight: 600;

        i {
            font-size: 0.95vw;
            position: absolute;
            color: rgb(142, 131, 236);
            left: 20%;
        }

        img {
            width: 100%;
            height: 100%;
            margin-right: 0.5vw;
        }
    }

    .text-cont {
        position: absolute;
        top: 23%;
        left: 7%;
        color: white;
        transition: 0.3s all ease-in-out;

        .heading {
            font-size: 2.8vw;
            font-weight: 700;
            margin-bottom: 2vw;
        }

        .border {
            border-top: 0.2vw solid white;
            width: 13%;
            margin-bottom:2vw;
        }

        .body {
            font-weight: 500;
            line-height: 2;
        }
    }

    position: relative;
    .background-cont {
        z-index: -1;
        background: url("./img/background10.jpg");
        // background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("./img/background10.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
    }

    width: 100vw;
    // height:100vh;
    background: linear-gradient(
        -45deg,
        rgba(131, 189, 236, 0.24),
        rgba(98, 169, 228, 0.521),
        rgba(71, 113, 190, 0.726),
        rgba(71, 113, 190, 0.822)
    );

    background-size: 300% 100%;
    background-position: 0% 0%;
    overflow-x: hidden;
    position: relative;
    transition: 0.7s all ease-in-out;
}

#root .main-cont-enlarged {
    background-position: 100% 100%;

    .text-cont {
        color: black !important;
    }
}

@keyframes enlarge {
    0% {
        clip-path: circle(10% at 0% 0%);
        background-position: 100% 100%;
    }
    100% {
        clip-path: circle(100%);
        // background-position:0% 30%;
    }
}

@keyframes backgroundEffect {
    0% {
        background-position: 0 0%;
    }

    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0%;
    }
}
