$headerFontSize: 2vw;
$FontSize: 1.5vw;
$buttonSize: 1.5vw;
$linkSize: 1.2vw;

$formHeight: 35vw;
$formWidth: 30vw;

.background{
    background: url("../Main/img/background10.jpg");
    // background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("./img/background10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

#root .base-container {
    // position: absolute;
    margin-bottom: 2vw;
    // top: 2vw;
    left: 60vw;
    margin-right: 10vw;
    z-index: 1;
    transition: 0.5s all ease-in-out;
    position: absolute;
    box-shadow: 0 0.2vw 0.4vw -0.075vw rgba(0, 0, 0, 0.1);

    border-radius: 0.3rem;

    .signin-form {
        position: relative;
        // max-height: 37vw;
        overflow: auto;
        background-color: rgb(255, 255, 255);
        border-radius: 0.3vw;
        // height: $formHeight;
        width: $formWidth;
        color: rgb(0, 0, 0);
        padding: 3vw;
        // background-image:   url("../img/sign-background2.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        // background-size: 100%,100%;

        // HEADER
        .signin-header {
            font-size: $headerFontSize;
            font-weight: 700;
            height: 34%;
            text-align: center;

            .user-icon {
                width: 30%;
                height: 30%;
            }
        }

        // BODY
        .signin-body {
            // height: 45%;
            // font-size:1.2rem;
            position: relative;
            margin-top: 3vw;

            .my-form {
                margin-top: 1vw;
                margin-bottom: 2vw;
                position: relative;
                height: 3vw;
                justify-content: center;

                .my-form-input {
                    z-index: 1;
                    background-color: rgba(0, 0, 0, 0);
                    border: 0px;
                    border-bottom: 0.15vw solid rgb(39, 39, 49);
                    outline: none;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0px;
                    // height: 2.5vw;

                    font-size: $FontSize;
                    color: black !important;

                    &:focus {
                        + label {
                            transform: scale(0.85, 0.85) translate(-10%, -100%);
                        }
                    }
                }

                .label-active {
                    transform: scale(0.85, 0.85) translate(-10%, -100%);
                }

                label {
                    font-size: $linkSize;
                    position: absolute;
                    left: 0;
                    top: 25%;
                    // top: 40%;
                    transition: 0.3s all ease-in-out;
                }
            }

            .signin-button {
                // font-weight: 600;
                background: rgb(177, 140, 226);
            }

            .oauth-base {
                padding: 0.4vw 0;
                margin-bottom: 0.6vw;
                color: rgb(255, 255, 255);
                font-size: 0.8rem;
                a{
                    color:white!important;
                }

                &:hover {
                    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.4);
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
                }

                i {
                    margin-right: 0.5vw;
                }
            }

            .signin-button-google {
                background-color: rgb(96, 105, 221);
                // background: linear-gradient(90deg, rgb(231, 188, 227), rgb(197, 22, 188), rgb(79, 101, 207)) ;
            }

            .signin-button-facebook {
                background-color: rgb(168, 28, 168);
            }
        }

        // FOOTER
        .signin-footer {
            margin-top: 2vw;
            text-align: center;
            .no-have-account {
                margin-top: 0.6vw;
                font-size: $linkSize;
            }
        }
    }
}

.signin-cont {
    margin-top: 2vw !important;
}

.sign-up-link {
    font-weight: 600;
    color: rgb(214, 176, 176);
    font-size: 1.1vw;

    .or-text{
        color:black;
    }
}
.signin-cont {
    .showError {
        font-size: 1.4vw;
        position: absolute;
        top: -15%;
        left: 0;
        z-index: 1;
    }

    .forgot-password-link {
        margin-left: 0.2vw;
        font-weight: 600;
        color: rgb(218, 62, 62);
        font-size: 1.1vw;
        cursor: pointer;
    }
}

.signup-cont {
    .showError {
        font-size: 1.4vw;
        z-index: 1;
        position: absolute;
        top: -17%;
        left: 0;
    }
}

// #root .sign-in-slide-down {
//     transform: translateY(0%);
// }

// #root .sign-in-slide-up {
//     transform: translateY(-150%);
//     // display:none;
// }

// // For Sign up cont
// .sign-up-slide-left {
//     transform: translateX(0%);
// }

// .sign-up-slide-right {
//     transform: translateX(150%);
// }
