.base-cont {
    padding: 2vw;
    z-index:2;

    .option-header {

        margin-bottom: 1vw;
        .each-option {
           
            cursor: pointer;
            margin-right: 1.4vw;
            opacity: 0.5;
        }

        .active-each-option{
            opacity: 1;
            border-bottom: 0.3vw solid red;
        }
    }

    .content-cont {

        .header {
            font-weight: 600;
            margin-bottom: 0.5vw;
        }

        .information {
            font-size: 1.3vw;
            margin-bottom: 2vw;
        }

        .form-cont {
            font-size: 1.4vw;
            .input {
                font-size: inherit;
                padding: 1vw;
                outline: none;
                background-color: rgb(245, 238, 238);
                border-radius: 0.3vw;
                border: 0px;
                width: 94%;
            }

            .name-input {
                margin-bottom: 2vw;
                margin-top: 0.5vw;
            }

            .desc-input {
                margin-top: 0.5vw;
                margin-bottom: 3vw;
            }
        }

        .btn {
            box-shadow: 0 0.2vw 0.4vw -0.075vw rgba(0, 0, 0, 0.1);
            padding: 0.7vw 1.2vw 0.7vw 1.2vw;
            margin-left: 1vw;
            margin-right: 1vw;
            font-size: 1.4vw;
            border-radius: 0.2vw;
        }

        .cancel-btn {
            &:hover {
                background-color: #f2f2f8;
            }
        }

        .submit-btn {
            background-color: rgb(109, 109, 238);
            color: white;
            &:hover {
                background-color: rgb(100, 100, 230);
            }
        }
    }
}
