.each-message {
    font-size: 1.3vw;
    margin: 0.6vw;
    margin-left: 2vw;
    width: 70%;

    .img-cont {
        width: 3.3vw;
        height: 3.3vw;
        margin-right: 0.8vw;

        img {
            width: 100%;
            height: 100%;
            border-radius: 4vw;
        }
    }

    .text-cont {
        background-color: white;
        border-radius: 0.4vw;
        // padding: 0.5vw;
        padding-top: 0.6vw;
        padding-bottom: 0.9vw;
        padding-left: 0.8vw;
        padding-right: 1.3vw;

        .first {
            margin-bottom: 0.4vw;
        }

        .username {
            font-weight: 600;
            margin-right: 0.5vw;
            font-size: 1.2vw;
        }

        .created-at {
            font-size: 1vw;
        }
        .message {
            font-size: 1.2vw;
        }
    }
}
