.create-channel-cont {
    #select-box {
        padding: 0.8vw;
        border-radius: 0.3vw;
        border: 0.2vw solid pink;
        outline-style: none;
        cursor: pointer;
        margin-top:1vw;

        option {
            padding: 0.8vw;
            cursor: pointer;


        }
    }
}
