.dm-page-cont {
    height: 100%;
    overflow: hidden;
    > .first {
        width: 22%;
        height: 100%;
        background-color: white;
        .create-chat-btn {
            margin-right: 0.3vw;
            font-size: 1.1rem;
            color: rgb(90, 90, 90);
            font-weight: 400;

            &:hover{
                color:black;
            }
        }
        .dm-channel-cont {
            cursor: pointer;
          

            .active-channel {
                background-color: rgb(218, 218, 218);
            }

            .each-user {
                padding: 0.8vw;

                img {
                    height: 100%;
                    width: 10%;
                    border-radius: 1.5vw;
                    margin-right: 0.8vw;
                }

                &:hover {
                    background-color: rgb(218, 218, 218);
                }

                .chat-info-cont {
                    .username {
                    }
                    .timestamp {
                        font-size: 0.6rem;
                    }
                    .message {
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }

    > .second {
        width: 80%;
        height: 100%;
        background-color: rgba(235, 235, 235, 0.95);
    }
}
