.live-chat-cont {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content:center;
}

.p-1 {
    .peer-video {
        width: 50%;
        height: 70%;
        background-color: black;
        margin: 0.5vw;
    }
}
.p-2 {
    .peer-video {
        width: 45%;
        height: 70%;
        background-color: black;
        margin: 0.5vw;
    }
}
.p-3 {
    .peer-video {
        width: 40%;
        height: 40%;
        background-color: black;
        margin: 0.5vw;
    }
}
.p-4 {
    .peer-video {
        width: 34%;
        height: 43%;
        background-color: black;
        margin: 0.5vw;
    }
}
.p-5 {
    .peer-video {
        width: 35%;
        height: 35%;
        background-color: black;
        margin: 0.5vw;
    }
}
