.each-channel {
    position: relative;
    padding: 0.5vw;
    z-index: 0;
    font-size: 1.4vw;

    &:hover {
        background-color: rgba(240, 240, 240, 0.932);
        .channel-option-btn {
            display: block;
        }
    }

    .channel-option-btn {
        z-index: 1;
        padding-right: 3vw;
        position: absolute;
        display: none;
        right: -10%;
        top: -15%;
        font-size: 2vw;
        color: grey;

        &:hover {
            .drop-down {
                display: block;
            }
        }

        .drop-down {
            background: white;
            z-index: 5;
            display: none;
            position: absolute;
            right: -11.5vw;
            top: 0;
            width: 14vw;
            box-shadow: 0 0.2vw 0.4vw -0.075vw rgba(0, 0, 0, 0.1);

            &:hover {
                display: block;
            }

            .each-option {
                color: black;
                font-size: 1.2vw;
                padding: 0.7vw 1.3vw 0.7vw 1.3vw;

                &:hover {
                    background-color: rgba(240, 240, 240, 0.932);
                }
            }
        }
    }
}

.active-channel {
    background-color: rgba(240, 240, 240, 0.932);
}
