$contentHeight : 79vh;
.channel-content-cont {
    padding:1vw;
    .content-cont {
        height: $contentHeight;
        max-height: $contentHeight;

        // background-color: grey;
        width:100%;
        overflow-y: auto;

       
    }

    .new-message-cont {
        // height: 10vw;
        // width: 100%;
        height:3vh;
        padding:0.5vw;

        input {
            font-size: 1.4vw;
            padding:0.9vw;
            margin-left:0.9vw;
            margin-bottom:0.9vw;
            width: 94%;
            outline: none;
            border: 0px;

            &:focus{
                border-bottom: 0.3vw solid rgb(105, 105, 224);
            }
        }
    }
}
