$contentHeight: 80vh;
.channel-content-cont {
    position: relative;
    padding: 1vw;
    .content-cont {
        height: $contentHeight;
        max-height: $contentHeight;

        // background-color: grey;
        width: 100%;
        overflow-y: auto;
    }

    .live-chat-btn {
        position: absolute;
        right: 5%;
        top: 1%;
        background-color: rgb(147, 147, 241);
        color: white;
        padding: 0.5vw 0.7vw;
        border-radius: 0.4vw;

        &:hover {
            background-color: rgb(113, 113, 218);
        }

        i {
            color: white;
        }
    }
}

.draggable-cont {
    z-index: 1;
    position: fixed;
    width: 40vw;
    height: 60vh;
    left: 0;
    top: 0;
    cursor: pointer;
    background-color: rgb(27, 27, 27);

    .button-cont {
        z-index: 1;
        color: rgb(231, 231, 231);
        position: absolute;
        font-size: 1.9vw;
        top: 0;
        right: 1%;
        padding: 0.5vw;
        .size-icon {
            margin-right: 0.6vw;

            &:hover {
                color: white;
            }
        }

        .leave-icon {
            &:hover {
                color: white;
            }
        }
    }
}

.maximized {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}
