.live-chat-cont {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: center;

    .option-cont {
        color: rgb(202, 202, 202);
        position: absolute;
        bottom: 3%;
        // width:30vw;

        .disable-video-cont {
            position: relative;
            span {
                position: absolute;
                z-index: 0;
                left: 35%;
                top: 5%;
                font-weight: 400;
                // color:rgb(233, 162, 162);
                font-size: 1.6rem;
                transform: rotateZ(-25deg);

                &:hover {
                    color: rgb(255, 255, 255);
                }
            }

            &:hover {
                span {
                    color: rgb(255, 255, 255);
                }

                i {
                    color: rgb(255, 255, 255);
                }
            }
        }

        i {
            background-color: rgb(44, 44, 44);
            border-radius: 4vw;
            padding: 1vw;
            margin: 0.5vw;
        }

        i:hover {
            color: rgb(255, 255, 255);
        }
    }
}

.video-cont {
    position: relative;
    &:hover {
        .video-enabled {
            display: block;
        }
    }
    .video-enabled {
        display: none;
        position: absolute;
        top: 50%;
        left: 40%;
        width: 100%;
        height: 100%;
        z-index: 1;
        font-size: 1.5vw;
        color: white;
    }

    .my-video-disabled{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        font-size: 1.5vw;
        color: white;
    }

    .username {
        position: absolute;
        top: 100%;
        left: 1%;
        text-align: center;
        color: white;
    }

    video {
        width: 100%;
        height: 100%;
    }
}

.p-1 {
    .peer-video {
        width: 50%;
        height: 70%;
        background-color: black;
        margin: 0.5vw;
    }
}
.p-2 {
    .peer-video {
        width: 45%;
        height:68%;
        background-color: black;
        margin: 0.5vw;
    }
}
.p-3 {
    .peer-video {
        width: 31%;
        height: 47%;
        background-color: black;
        margin: 0.5vw;
    }
}
.p-4 {
    .peer-video {
        width: 30%;
        height: 45%;
        background-color: black;
        margin: 0.5vw;
    }
}
.p-5 {
    .peer-video {
        width: 30%;
        height: 45%;
        background-color: black;
        margin: 0.5vw;
    }
}
