@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');

$color_1: #4d4d4d;
$color_2: #696969;
$color_3: #ffffff;
$color_4: #ccc9c9;

.profile-cont {
  position: relative;
  z-index: 1;
  margin: 10%;
  padding: 15%;
  border: 1px solid $color_1;
  background-color: $color_4;

  input {
    box-sizing: border-box;
    margin: 2%;
    padding: 1%;
    border: 1px solid $color_1;
    border-radius: 3px;
  }

  button {
    background-color: #5558af;
    border-radius: 3px;
    margin: 25px;
    padding: 5px;
  }
}

.avatar-image {
  border-radius: 3px;
  width: 20vw;
  height: 20vh;
}
